<section class="main-content" style="min-height: 600px;">
    <h3>Signup Page</h3>
    <div class="span7">
        <h4 class="title"><span class="text"><strong>Register</strong> Form</span></h4>
        <form action="/signup" method="post" class="form-stacked">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Full Name</label>
                    <div class="controls">
                        <input type="text" name="full_name" placeholder="Enter your username" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Enter your username" class="input-xlarge">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Password:</label>
                    <div class="controls">
                        <input type="password" name="password" placeholder="Enter your password" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Re-Password:</label>
                    <div class="controls">
                        <input type="password" placeholder="Enter your password" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address:</label>
                    <div class="controls">
                        <textarea name="address" class="input-xlarge" placeholder="Address"></textarea>
                    </div>
                </div>
                
                
                <div class="control-group">
                    <label >DOB</label>
                    <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control"
                           ></input>

                </div>
                
                <div class="control-group">
                    <label >Age</label>
                     <input type="text"  placeholder="" class="form-control">
                </input>                </div>            
                <hr>
                <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit"
                        value="Create your account"></div>
            </fieldset>
        </form>
    </div>
</section>